﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Habitaciones Disponibles</h1>
</div>

<a class="btn btn-success" onclick="addHabitacion()"><i class="fa fa-plus"></i> Agregar </a>

<div class="container-fluid card shadow p-3 mb-5 bg-white rounded container-vistas table-responsive">
    <table id="tableDisponibles" class="display margen-datatable">
        <thead>
            <tr>
                <th>Número Habitacion</th>
                <th>Sucursal</th>
                <th>Tipo Alojamiento</th>
                <th>Valor/Persona</th>
                <th>Cupo Máximo</th>
            </tr>
        </thead>
    </table>
</div>


