﻿@{
    Layout = null;
}

@*Modal para agregar habitacion*@
<div class="modal fade" id="ModalAgregarHabitacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Habitación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @*Formulario de creación*@
                <form class="d-none" id="FormularioCrearHabitacion">
                    <div class="form-row">

                        <div class="col-md-6">
                            <label class="col-form-label" for="Sucursal">Sucursal</label>
                            <select class="form-control" name="Sucursal" id="Sucursal" required>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="col-form-label" for="TipoAlojamiento">Tipo Alojamiento</label>
                            <select class="select2-SST form-control delete-Search" name="TipoAlojamiento" id="TipoAlojamiento" required>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label class="col-form-label" for="CupoMaximo">Cupo Máximo</label>
                            <input class="form-control" type="number" name="CupoMaximo" id="CupoMaximo" required>
                        </div>

                        <div class="col-md-12">
                            <label class="col-form-label" for="ValPersona">Valor/Persona</label>
                            <input class="form-control" type="number" name="ValPersona" id="ValPersona" required>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="GuardarHabitacion" onclick="GuardarHabitacion()">Guardar</button>
            </div>
        </div>
    </div>
</div>
